* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    list-style-type: none;
}

.menu_item {
    padding-right: 32px;
    border-right: 2px dotted black;
}

.menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: none;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
    margin-top: 16px;
    max-width: 100%;
}

.subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
}

.coll_me {
    margin-top: 23px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF;
}

.phone_number {
    margin-top: 15px;
    font-size: 22px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

.coll_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 799px;
    text-align: center;
    background: url('/src/img/Main_BG.jpg') center center/cover no-repeat;
}

h1.promo_header {
    margin-top: 152px;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h2.promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo_descr {
    font-weight: 300;
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.promo_btn {
    margin-top: 115px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reason {
    min-height: 849px;
}

.reason .benefits, .app .app_opport {
    margin: 20px auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2.benefits_header, h2.app_header {
    margin: 0 auto;
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_item {
    margin-top: 26px;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.reason .reason_item .reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
}

.reason .reason_item .reason_descr {
    width: 372px;
    height: 150px;
}

.reason .reason_item .reason_descr_2 {
    width: 339px;
    height: 150px;
}

.reason .reason_item .reason_descr .reason_subheader, .reason .reason_item .reason_descr_2 .reason_subheader {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reason .reason_item .reason_descr .reason_test, .reason .reason_item .reason_descr_2 .reason_test {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    color: #202020;
}

.app {
    min-width: 1920px;
    min-height: 864px;
    background: url('/src/img/Light_BG.jpg') center center/cover no-repeat;
    padding: 20px 0 80px 0;
}

.app .app_subheader {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222222;
}

.app .app_block {
    margin-top: 11px;
}

.app .app_block .app_item {
    margin-top: 19px;
}

